.cs-404 {
  margin-top: 20px;
  margin-bottom: 20px;

  > div {
    width: 33.3%;
    text-align: center;
    color: $light-grey;
    border-right: 30px solid $white-color;
    vertical-align: top;
    padding: 0 35px 80px 35px;
    &:last-child {
      border-right: 0;
    }
  }
}

.cs-404-title {
  display: block;
  width: 100%;
  padding: 10px 0 60px 0;
  line-height: 110px;
  font-size: 110px;
  font-weight: bold;
  text-align: center;
}

.cs-404-mobile-title {
  letter-spacing: 25px;
}

.cs-404 h3 {
  font-weight: bold;
  color: $light-grey;
  font-size: 24px;
}

.cs-404-button {
  display: inline-block;
  margin: 0 auto;
  background-color: $brand-primary;
  color: $white-color !important;
  padding: 15px 25px;
  margin-top: 15px;
  i {
    padding-right: 8px;
  }
}

#cs-404-mobile {
  display: none;
}

@media (max-width: 850px) {
  #cs-404 {
    display: none;
  }
  #cs-404-mobile {
    display: block;
  }
}

@media (max-width: 850px) {
  #cs-404-mobile {
    > div {
      padding: 0 15px 50px 15px;
    }
    .cs-404-mobile-title {
      font-size: 60px;
      padding: 50px 0 30px 0;
      letter-spacing: 15px;
    }
  }
}
