h1, h2, h3, h4, h5, h6, .cs-iconbox-hover, .cs-partners-carousel .slick-slide a img {
  @include transition(0.3s ease-in-out);
}

.cs-overlay-style1 {
  @include transition(0.3s ease-in-out);
  .cs-overlay-link, .cs-overlay-lightbox {
    @include transition(0.3s ease-in-out);
  }
}

.cs-nav-container, .cs-nav-login .header-logo img, .cs-nav .cs-nav-cart li.mini_cart_item a.remove:before, .header-mobile-social-media a, .cs-header-left-1 .header-social-media a, .cs-header-right-side {
  @include transition(0.3s ease-in-out);
}


.cs-team-social-overlay {
  .cs-team-image-position, .cs-team-overlay {
    @include transition(0.3s ease-in-out);
  }
}

.cs-icons-item i, .cs-pricing-button, .cs-button, .cs-button-tale {
  @include transition(0.3s ease-in-out);
}

.cs-button-style-2 {
  .cs-button-icon-right:after, .cs-button-icon-left:after {
    @include transition(0.3s ease-in-out);
  }
}

.cs-button-style-3 {
  .cs-button-icon-right:after, .cs-button-icon-left:after {
    @include transition(0.3s ease-in-out);
  }
}

.cs-button-style-4 .cs-button, .cs-iconbox-style1 .cs-iconbox-icon-shape > i {
  @include transition(0.3s ease-in-out);
}

.cs-iconbox {
  .cs-iconbox-hover, .cs-iconbox-title h3 {
    @include transition(0.3s ease-in-out);
  }
}

.cs-portfolio-image-position, .cs-portfolio-overlay1-bar, .cs-piechart .cs-piechart-animation, .cs-testimonials-switch, .cs-heading .cs-heading-content, .cs-portfolio-overlay, .cs-portfolio-category, .cs-nav ul a, .cs-footer a {
  @include transition(0.3s ease-in-out);
}

.page-numbers {
  a, span {
    @include transition(0.3s ease-in-out);
  }
}

.cs-overlay-style1 .cs-table-cell i, .post-meta-author a {
  @include transition(0.3s ease-in-out);
}

.post-meta-categories {
  a, span {
    @include transition(0.3s ease-in-out);
  }
}


.woocommerce table a, .widget-item a, .cs-timeline-box, .cs-timeline-box-tale, .cs-timeline-box-circle, .cs-nav-mobile a, .cs-icon .cs-icon-data, .cs-social-share-networks .jssocials-share, .cs-portfolio-title-container, .cs-portfolio-titlem, .cs-social-share-button, .woocommerce div.product form.cart div.quantity span:hover, .cs-video-player-image-play, .post-with-background a, .cs-social-share-networks .jssocials-share i {
  @include transition(0.3s ease-in-out);;
}

/* Animations - Slow */

div.pp_default {
  .pp_next_box, .pp_prev_box {
    @include transition(0.5s ease-in-out);
  }
}

.cs-page-switcher-button, .cs-header-left-side {
  @include transition(0.5s ease-in-out);
}

.cs-team-icon {
  @include transition(0.5s ease-in-out);
  i {
    @include transition(0.5s ease-in-out);
  }
}

.cs-team:hover .cs-team-role, .cs-testimonials-70 .cs-testimonials-container .cs-testimonials-bottom, .cs-portfolio-image-container {
  @include transition(0.5s ease-in-out);
}

#page-container {
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

/* Animations - Stop */

.cs-stop-animation {
  animation-iteration-count: 1 !important;
}

/* Animations - Side */

.cs-animation-left, #page-container {
  transition: left 0.3s ease-in-out !important;
}

.cs-animation-right {
  transition: right 0.3s ease-in-out !important;
}

.cs-animated {
  visibility: hidden;
}
