
.cs-back-to-top {
	border-radius: 100px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	opacity: 0;
	transition: 0.3s all ease;
	cursor: pointer;
	width: 50px;
	height: 50px;
	text-align: center;
	overflow: hidden;
	z-index: 5000;
	color: #cecece;
	border: 2px solid #cecece;
}

.cs-back-to-top:hover {
	background-color: $brand-primary;
	border: 2px solid $brand-primary;
	color: $white-color;
}

.cs-back-to-top i {
	display: block;
	font-size: 24px;
	line-height: 46px;
}

.cs-back-to-top.active {
	opacity: 1;
}

