.blog-list {
  margin-top: 48px;
  @media (max-width: 1024px) and (min-width: 768px){
    display: grid;
    column-gap: 30px;
    grid-template-columns: 2fr 2fr;
  }

  article {
    margin-bottom: 40px;

    @media (max-width: 550px) {
      width: 100%;
    }
  }
}

.sidebar-right,
.sidebar-left {
  margin-top: 40px;

  .widget {
    margin-bottom: 48px;
    position: relative;

    .so-widget-sow-image h2 {
      font-size: 20px;
      line-height: 23px;
      color: $brand-dark;
      font-weight: 600;
    }

    .so-widget-social-image-widget {
      .cs-image-widgets-description {
        font-size: 20px;
        line-height: 23px;
        color: $brand-dark;
        font-weight: 600;
      }

      .cs-image-widgets-social a {
        display: inline-block;
        width: 50px;
        height: 50px;
        color: $brand-dark;
        text-align: center;
        margin-right: 6px;

        &:hover {
          background-color: $brand-primary;
          color: $white-color;
          i {
            color: $white-color;
          }
        }

        i {
          line-height: 50px;
          font-size: 18pt;
          color: $brand-dark;
          span {
            display: none;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.wpap-loadmore-button {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}
