.blog-single {
  padding-bottom: 40px;
  .main-post {
    margin-bottom: 40px;
    margin-top: 40px;
    width: 100%;

    .post-container {
      margin: 0;

      .textwidget {
        h3 {
          color: $light-grey;
          padding-top: 30px;
        }
        ul {
          padding-left: 0;
          li {
            padding: 3px 0;
            display: block;

            &:before {
              content: "\e606";
              font-family: 'simple-line-icons';
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              padding-right: 10px;
              font-weight: $font__weight--bold;
            }
          }
        }
      }
    }
  }

  .cs-blog-tags {
    margin-top: 64px;

    .cs-blog-tags-list {
      .cs-blog-tag-item {
        background-color: $brand-primary;
        color: $white-color;
        font-weight: 600;
        font-size: 10px;
        padding: 4px 6px;
        line-height: 10px;
        z-index: 2;
        cursor: default;
        display: inline-block;
        position: relative;
        margin-right: 10px;
        margin-bottom: 12px;
        transition: 0.3s ease-in-out;

        &:hover, &:focus {
          background-color: $white-color;
          color: $brand-primary;
        }
      }
    }
  }

  .cs-blog-single-meta {
    border-top: 1px solid $border-color-light;
    border-bottom: 1px solid $border-color-light;
    padding: 26px 0 24px 0;
    margin: 0;
    > div {
      padding: 0;
      @media (max-width: 500px) {
        width: 100%;
        text-align: center;
      }
    }

    .cs-page-switcher {
      display: table;
      margin-left: auto;
      @media (max-width: 500px) {
        display: block;
      }
    }

    .cs-blog-pageswitch {
      border-top: 2px solid $border-color-light;
      border-bottom: 2px solid $border-color-light;
      padding: 30px 0;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
    }

    .cs-blog-pageswitch-back {
      i {
        font-size: 10px;
        padding-right: 6px;
        position: relative;
        bottom: 2px;
      }
      padding-left: 0;
      font-size: 13px;
    }

    .cs-blog-pageswitch-current {
      padding-left: 0;
      text-align: center;
    }

    .cs-blog-pageswitch-next {
      text-align: right;
      i {
        font-size: 10px;
        padding-left: 6px;
        position: relative;
        bottom: 2px;
      }
    }
  }

  .cs-related-posts-wrapper {
    margin-top: 64px;
  }

  .cs-blog-tags h5, .cs-blog-social h5, .cs-related-posts-wrapper h5 {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 23px !important;
    font-weight: 600;
  }

  .cs-blog-tags h5, .cs-blog-social h5, .cs-related-posts-wrapper h5 {
    margin-bottom: 16px;
  }

  .cs-blog-social {
    position: relative;
    z-index: 100;
    div {
      max-width: 380px;
    }
  }

  .cs-page-switcher-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: $white-color;
    color: $brand-dark;
    text-align: center;
    margin-right: 15px;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: $brand-primary;
      color: $white-color;
      i {
        color: $white-color;
      }
    }

    i {
      line-height: 50px;
      font-size: 18px;
      color: $brand-dark;
      span {
        display: none;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .cs-page-switcher-disabled {
    cursor: default;
    i {
      opacity: 0.3;
    }
  }

  .cs-page-switcher-content {
    width: 50px;
    line-height: 50px;
    margin-right: 15px;
  }

}
