.cs-button-container {
  margin: 10px auto;

  .cs-button {
    position: relative;
    display: inline-block;
    text-align: center;
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
    position: relative;
    -webkit-transform: translateZ(0);
    background-color: $brand-primary;
    color: $white-color;
  }

  .cs-button-icon {
    display: inline-block;
    position: relative;
    z-index: 10;
    margin-top: -3px;
    bottom: -3px;
    margin-right: 10px;
    i {
      font-size: 130%;
    }
  }

  .cs-button-text {
    position: relative;
    font-weight: bold;
    position: relative;
    z-index: 10;
  }
}

.cs-button-xsmall {
  .cs-button-icon {
    margin-right: 7px;
  }
  .cs-button-text {
    bottom: -1px;
  }
}

.cs-button-tale-bottom {
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $border-color-light-2;
}

.cs-button-tale-top {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $border-color-light-2;
}

/* Button Sizes */

.cs-button-xsmall {
  padding: 8px 21px;
  font-size: 11px;
}

.cs-button-small {
  padding: 10px 26px;
  font-size: 12px;
}

.cs-button-medium {
  padding: 14px 31px;
  font-size: 13px;
}

.cs-button-large {
  padding: 16px 36px;
  font-size: 14px;
}

.cs-button-xlarge {
  padding: 16.5px 41px;
  font-size: 16px;
}

.cs-button-xlarge-small {
  font-size: 13px;
  padding: 19px 41px;
}

/* Button With Icon Padding */

.cs-button-xsmall.cs-button-icon-right .cs-button-icon {
  bottom: -5px;
}

.cs-button-icon-right {
  .cs-button-icon {
    margin-left: 10px;
    margin-right: auto;
    bottom: -5px;
    float: right;
  }
  &.cs-button-xsmall {
    padding-left: 16px;
  }
  &.cs-button-small {
    padding-left: 20px;
  }
  &.cs-button-medium {
    padding-left: 27px;
  }
  &.cs-button-large {
    padding-left: 33px;
  }
  &.cs-button-xlarge {
    padding-left: 45px;
  }
}

.cs-button-icon-left {
  &.cs-button-xsmall {
    padding-right: 16px;
  }
  &.cs-button-small {
    padding-right: 20px;
  }
  &.cs-button-medium {
    padding-right: 27px;
  }
  &.cs-button-large {
    padding-right: 33px;
  }
  &.cs-button-xlarge {
    padding-right: 45px;
  }
}

/* Button Style 2 */

.cs-button-style-2 {
  .cs-button {
    overflow: hidden;
  }
  .cs-button-icon-right {
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 0;
      height: 300%;
      background-color: rgba(255, 255, 255, 0.15);
      z-index: 1;
      right: 0;
      top: 0;
      margin: -5px 0 0 -5px;
    }
    &:hover:after {
      width: 120%;
    }
  }
  .cs-button-icon-left {
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 0;
      height: 300%;
      background-color: rgba(255, 255, 255, 0.15);
      z-index: 1;
      left: -10%;
      top: 0;
      margin: -5px 0 0 -5px;
    }
    &:hover:after {
      width: 120%;
    }
  }
  .cs-button:not(.cs-button-icon-left):not(.cs-button-icon-right) {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 0;
      height: 300%;
      background-color: rgba(255, 255, 255, 0.15);
      z-index: 1;
      right: -10%;
      top: 0;
      margin: -5px 0 0 -5px;
      transition: all 0.3s ease-in-out;
    }
    &:hover:after {
      width: 120%;
    }
  }
}

.cs-button-style-3 .cs-button {
  padding: 0;
}

/* Button Style 4 */

.cs-button-style-4 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  .cs-button {
    display: block;
  }
  .cs-button-hidden {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    background: $white-color;
    color: $brand-primary;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateX(-25%);
  }
  &:hover .cs-button, &:focus .cs-button {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  &:hover .cs-button-hidden, &:focus .cs-button-hidden {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}

/* Button Style 5 */

.cs-button-style-5 {
  .cs-button {
    .cs-button-text {
      transition: 0.3s letter-spacing ease-in-out;
      letter-spacing: normal;
    }
    &:hover .cs-button-text {
      letter-spacing: 2px;
    }
  }
  .cs-button-icon-right .cs-button-icon {
    bottom: -5px;
  }
}
