.cs-counter {
  text-align: center;
  color: $light-grey;
  margin: 0 auto 15px auto;

  .text-right {
    width: 50%;
    padding-right: 18px;
  }
  .text-left {
    width: 50%;
    padding-left: 18px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  .cs-counter-number {
    font-size: 48px;
    font-weight: bold;
    padding: 0;
    line-height: 1;
  }

  .cs-counter-title {
    font-size: 16px;
    font-weight: bold;
  }

  .cs-counter-subtitle {
    font-size: 18px;
  }

  .cs-counter-divider {
    width: 26px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-bottom: 10px;
  }

  &.white {
    color: $white-color;

    .text-left {
      border-left: 1px solid rgba(256, 256, 256, 0.7);
    }
  }

  &.big {
    @media (max-width: 991px) {
      &.cs-counter {
        margin-bottom: 45px;
      }
    }

    .cs-counter-number {
      font-size: 80px;
      font-weight: bold;
    }

    .cs-counter-title {
      font-size: 26px;
      font-weight: bold;
    }

    .cs-counter-subtitle {
      font-size: 26px;
    }
  }
}

