.cs-footer-columns {
  position: relative;
  .widget-item {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    padding: 0 15px;
    margin-bottom: 25px;
    margin-right: -4px;

    @media (max-width: 900px) {
      width: 100% !important;
    }
  }

  .cs-contacts-widget-item {
    color: $white-color;
  }
  .pk-about-button {
    background: $white-color;
    color: $brand-dark;
  }
}

.cs-footer-widgets {
  padding: 100px 0 100px 0;
  color: $border-color-light;
  background-color: #262626;
  .container {
    margin-bottom: -35px;
    width: 90% !important;
    max-width: 90% !important;
  }
}

.cs-footer-col > div:last-child {
  padding-bottom: 0;
}

.cs-footer-widgets {
  a, li a {
    color: $white-color;
  }
  a:hover, li a:hover {
    color: $brand-primary;
  }
  h3 {
    color: $white-color;
    font-size: 16px;
  }
}

.cs-copyrights {
  background-color: #222222;
  color: $white-color;
  padding: 0 10px;
  a {
    color: $white-color;
    &:hover {
      color: $brand-primary;
    }
  }
}

.cs-copyrights-style1 {
  float: left;
  height: 70px;
}

.cs-copyrights-style2 {
  display: table;
  margin: 0 auto;
  height: 70px;
}

.cs-footer-widgets ul {
  li {
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 7.5px 0;
  }
  list-style: none;
  padding-left: 0;
}

.cs-copyrights-social {
  font-size: 16px;
  line-height: normal !important;
  margin-right: 4px;
  a {
    display: inline-block;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    height: 70px;
    line-height: 70px;
    width: 70px;
    text-align: center;
    margin-right: -4px;
    &:last-child {
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
  i {
    padding: 0;
    position: relative;
    bottom: -2px;
  }
  a {
    &:first-child i {
      padding-left: 0;
    }
    &:last-child i {
      padding-right: 0;
    }
  }
}

.cs-copyrights-image {
  max-height: 55px;
}

.cs-copyrights-logo {
  padding-right: 25px;
}

.cs-copyrights-text-only {
  text-align: center;
  .cs-copyrights-text {
    margin: 0;
  }
}

/* Footer parallax */

@media (min-width: 851px) {
  .cs-footer-paralalx-init {
    .content-container {
      position: relative;
      background-color: $white-color;
      z-index: 100;
    }
    .cs-footer {
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      transition: .3s left ease-in-out;
      background-size: cover;
      background-position: 50% 50%;
    }

    &.cs-breadcrumb-active {
      .cs-footer {
        position: relative;
      }
    }
  }
}

@media (max-width: 851px) {
  .cs-footer-paralalx-init {
    .content-container {
      position: relative;
      background-color: $white-color;
      z-index: 100;
    }
    .cs-footer {
      opacity: 1 !important;
    }

    &.cs-breadcrumb-active {
      .cs-footer {
        position: relative;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        transition: .3s left ease-in-out;
        background-size: cover;
        background-position: 50% 50%;
      }
    }
  }
}
