input[type="text"] {
  border: $border-solid-1;
  color: $light-grey;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  padding: 0px 20px;
  line-height: 48px !important;
}

input[type="password"] {
  border: $border-solid-1;
  color: $light-grey;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  padding: 0px 20px;
  line-height: 48px !important;
}

input[type="email"] {
  border: $border-solid-1;
  color: $light-grey;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  padding: 0px 20px;
  line-height: 48px !important;
}

input[type="tel"] {
  border: $border-solid-1;
  color: $light-grey;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  padding: 0px 20px;
  line-height: 48px !important;
}

input[type="date"] {
  border: $border-solid-1;
  color: $light-grey;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  padding: 0px 20px;
  line-height: 48px !important;
}

select {
  border: $border-solid-1;
  color: $light-grey;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  padding: 0px 20px;
  line-height: 48px !important;
  &::-webkit-input-placeholder {
    height: inherit !important;
    line-height: inherit !important;
    font-style: italic;
    color: inherit;
  }
  &:-moz-placeholder {
    height: inherit !important;
    line-height: inherit !important;
    font-style: italic;
    color: inherit;
  }
  &::-moz-placeholder {
    height: inherit !important;
    line-height: inherit !important;
    font-style: italic;
    color: inherit;
  }
  &:-ms-input-placeholder {
    height: inherit !important;
    line-height: inherit !important;
    font-style: italic;
    color: inherit;
  }
}

textarea {
  border: $border-solid-1;
  color: $light-grey;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  height: 120px;
  padding: 18px 24px;
  &::-webkit-input-placeholder {
    height: inherit !important;
    line-height: inherit !important;
    font-style: italic;
    color: inherit;
  }
  &:-moz-placeholder {
    height: inherit !important;
    line-height: inherit !important;
    font-style: italic;
    color: $medium-grey;
  }
  &::-moz-placeholder {
    height: inherit !important;
    line-height: inherit !important;
    font-style: italic;
    color: $medium-grey;
  }
  &:-ms-input-placeholder {
    height: inherit !important;
    line-height: inherit !important;
    font-style: italic;
    color: $medium-grey;
  }
}

input {
  &::-webkit-input-placeholder {
    height: inherit !important;
    line-height: inherit !important;
    font-style: italic;
    color: $medium-grey;
  }
  &:-moz-placeholder {
    height: inherit !important;
    line-height: inherit !important;
    font-style: italic;
    color: $medium-grey;
  }
  &::-moz-placeholder {
    height: inherit !important;
    line-height: inherit !important;
    font-style: italic;
    color: $medium-grey;
  }
  &:-ms-input-placeholder {
    height: inherit !important;
    line-height: inherit !important;
    font-style: italic;
    color: $medium-grey;
  }
}

.wpcf7-form {
  .wpcf7-submit {
    background-color: $brand-primary !important;
    color: $white-color;
    border-radius: 100px !important;
    font-size: 13px;
    text-transform: uppercase;
    border-width: 0;
    border-radius: 100px !important;
    line-height: 50px !important;
    padding: 0 30px !important;
    transition: 0.25s all ease-in-out;
    font-weight: bold;
  }
}

.contact-form {
  input[type="submit"] {
    border-radius: 100px !important;
    font-size: 13px;
    text-transform: uppercase;
    border-width: 0;
    border-radius: 100px !important;
    line-height: 50px !important;
    padding: 0 30px !important;
    transition: 0.25s all ease-in-out;
  }
}

.cs-404-button {
  border-radius: 0 !important;
  font-size: 13px;
  text-transform: uppercase;
  border-width: 0;
  line-height: 50px !important;
  padding: 0 30px !important;
  transition: 0.25s all ease-in-out;
  font-weight: bold;
}

.cs-social-share-button {
  &:before {
    display: block;
    content: '';
    position: absolute;
    z-index: -1;
    width: 0%;
    height: 300%;
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    transition: 0.3s all ease-in-out;
  }
  * {
    display: inline-block;
    position: relative;
    z-index: 100;
  }
  &:hover {
    &:before {
      width: 110% !important;
    }
  }
}

table {
  border: 2px solid #e5e5e5 !important;
  border-radius: 0 !important;
  border-collapse: collapse !important;
  td {
    border: 1px solid #e5e5e5 !important;
    padding: 15px 20px !important;
  }
  th {
    border: 1px solid #e5e5e5 !important;
    padding: 15px 20px !important;
    font-size: 16px;
    color: $light-grey;
  }
}

.cs-table-element-style2 {
  .default-row {
    &:nth-child(odd) {
      background: #fafafa;
    }
  }
}

.cs-table-element-style3 {
  table {
    td {
      border-width: 0px !important;
    }
    th {
      border-width: 0px !important;
    }
  }
}

@media (min-width: 550px) {

  .sow-form-field-name,
  .sow-form-field-email {
    width: 50%;
    float: left;
  }

  .sow-form-field-name {
    .sow-field-container {
      padding-right: 10px;
    }
  }
}

