body {
  font-family: $body-font-family;
  font-size: 14px;
  color:  $brand-dark;
  line-height: 1.7;
  font-weight: $font__weight--medium;
}

html {
  overflow-y: scroll;
}

*:focus, a:focus {
  outline: none;
}

iframe {
  max-width: 100%;
  display: block;
}

figure {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.cs-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

dd {
  margin: 0 0 20px;
}

pre {
  border: 0;
  padding: 20px;
}

img {
  max-width: 100%;
  min-height: 1px;
  height: auto;
}

p {
  line-height: 1.8;
  &:last-child {
    margin-bottom: 0;
  }
}
