.cs-header {
  position: relative;
  background-color: rgba(255,255,255,0.85);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);

  &.cs-sticky-header-active {
    &:before {
      content: "";
      position: absolute;
      -webkit-backdrop-filter: blur(25px);
      backdrop-filter: blur(25px);
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: 0.25s;
    }
  }
  .container {
    padding: 0 15px;
    position: relative;
  }
}

.cs-header-top .container {
  padding: 0 15px;
  position: relative;
}

.cs-header.cs-nav > li.menu-item > a {
  padding-top: 30px;
  padding-bottom: 30px;
  max-height: none;
  transition: 0.3s padding ease-in-out;
}

.cs-nav-container {
  position: relative;
  margin-bottom: -1px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

body.admin-bar #page-container .cs-sticky-mobile-header {
  margin-top: 32px !important;
}

@media (max-width: 782px) {
  body.admin-bar #page-container .cs-sticky-mobile-header {
    margin-top: 46px !important;
  }
}

.cs-sticky-header-active, .cs-sticky-mobile-header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5000;
}

#page-container header.primary-mobile-light .cs-header-mobile.cs-sticky-mobile-header-active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important;
}

header.primary-mobile .cs-sticky-mobile-header-active {
  background-color: $white-color !important;
}

.cs-nav-seperator {
  padding-right: 0px !important;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  padding-left: 15px !important;
  margin-left: 25px !important;
  i {
    font-size: 0px;
  }
}

.primary-desktop-light .cs-header:not(.cs-sticky-header-active) .cs-nav-seperator {
  border-color: rgba(255, 255, 255, 0.08);
}

body.admin-bar {
  .csheader {
    margin-top: 32px;
  }
  .cs-header-left-side, .cs-header-right-side {
    padding-top: 32px;
  }
}

.header-logo {
  /*padding: 15px 0;*/

  img {
    height: 70px;
  }
}

.cs-nav {
  float: right;
  li.menu-item {
    float: left;
    padding: 0 15px;
    border-bottom: 0px solid transparent;
    a {
      line-height: 40px;
      display: block;
      color: $menu-color;
      padding-top: 30px;
      padding-bottom: 30px;
      max-height: none;
      transition: all .3s ease-in-out;
    }
  }
  ul li.menu-item {
    a {
      color: #aaaaaa;
    }
    &:hover > a {
      color: $white-color;
    }
  }
  > li.menu-item > a {
    font-weight: bold;
    text-transform: none;
  }
  li {
    &.current-menu-item > a, &.current-menu-parent > a {
      font-weight: bold;
      color: $brand-primary;
    }
    &.menu-item > a.fa:before {
      font-family: 'FontAwesome';
      padding-right: 8px;
    }
  }
}

.cs-nav-mobile li.menu-item > a.fa:before {
  font-family: 'FontAwesome';
  font-display: swap;
  padding-right: 8px;
}

.cs-nav {
  > {
    li.menu-item {
      &:last-child {
        padding-right: 0;
        > ul.sub-menu {
          margin-left: -134px;
        }
      }
      &:nth-last-child(2) > ul.sub-menu {
        margin-left: -74px;
      }
    }
    .menu-item > .sub-menu {
      margin-left: -26px;
    }
  }
  li {
    &.menu-item-has-children > a:after {
      font-family: "simple-line-icons" !important;
      font-display: swap;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      font-size: 12px;
      margin-left: 8px;
      content: "\e604";
      position: relative;
    }
    &.menu-item li.menu-item-has-children > a:after {
      font-family: "simple-line-icons" !important;
      font-display: swap;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      font-size: 12px;
      margin-left: 8px;
      content: "\e604";
      position: relative;
      float: right;
    }
  }
}

.cs-sticky-header-active {
  .header-logo img {
    max-height: 60px;
  }

  .cs-nav > li.menu-item > a {
    padding-top: 15px;
    padding-bottom: 15px;
    max-height: none;
  }
  .cs-nav ul.sub-menu {
    top: 101%;
  }
}

.cs-nav {
  li.menu-item li {
    a, &.menu-item-has-children > a:after {
      line-height: 24px;
      text-transform: none;
      padding-top: 6px;
      padding-bottom: 6px;
    }
    a {
      max-height: none;
    }
    &.current-menu-item > a {
      font-weight: bold;
      color: #aaaaaa;
      border-bottom: 1px solid transparent;
    }
  }
  ul.sub-menu {
    display: none;
    position: absolute;
    background: #232323;
    top: 100%;
    padding: 16px 0;
    width: 220px;
    z-index: 1000;
    li {
      position: relative;
      width: 100%;
      float: none;
      padding: 0px 0px;
    }
    a {
      padding-left: 30px;
      padding-right: 30px;
      border-bottom: 1px solid transparent;
    }
    li:last-child {
      border-bottom: 1px solid transparent;
    }
    ul.sub-menu {
      left: 220px;
      top: -16px !important;
    }
  }
}

.mega-menu-row {
  .menu-item ul a {
    color: #b0b0b0 !important;
  }
  padding: 16px 0px 16px 0px !important;
  .sub-menu {
    margin-left: 0;
    padding: 0 !important;
  }
  .menu-item > .sub-menu:before {
    display: none;
  }
}

.cs-nav {
  li.menu-item-has-mega-menu {
    position: inherit;
  }
  ul.mega-menu-row {
    right: 0px;
    width: 100%;
    overflow: hidden;
    li.mega-menu-col {
      float: left;
      border-bottom: none;
      margin-top: -16px;
      margin-bottom: -16px;
      position: relative;
      padding: 16px 0;
      li, ul {
        display: block !important;
        width: 100% !important;
        border: 0px solid transparent;
      }
      a {
        overflow: visible !important;
        height: auto !important;
        max-height: 1000px !important;
      }
    }
  }
  li {
    ul.mega-menu-row ul.sub-menu {
      opacity: 1 !important;
      height: auto !important;
    }
    &.menu-item > ul.mega-menu-row > ul:nth-child(-n+2) {
      display: none !important;
      opacity: 0 !important;
    }
  }
  ul.mega-menu-row {
    > .menu-item > a + div {
      padding-left: 25px;
      padding-right: 25px;
      font-size: 80%;
      margin-bottom: 5px;
      margin-top: -5px;
      font-style: italic;
    }
    .menu-item-has-children {
      > a {
        font-weight: bold;
        color: #505050;
      }
      a:after {
        visibility: hidden;
      }
      ul li a {
        text-transform: none;
      }
    }
    ul.sub-menu {
      position: relative;
      left: 0 !important;
      top: 0 !important;
      opacity: 1 !important;
      ul.sub-menu {
        margin-bottom: -15px;
      }
    }
  }
  li.menu-item.menu-item-has-mega-menu ul.sub-menu ul.sub-menu {
    box-shadow: none !important;
  }
  .mega-menu-row-1 .menu-item {
    width: 100%;
  }
  .mega-menu-row-2 .menu-item {
    width: 50%;
  }
  .mega-menu-row-3 .menu-item {
    width: 33.3%;
  }
  .mega-menu-row-4 .menu-item {
    width: 25%;
  }
  .mega-menu-row-5 .menu-item {
    width: 20%;
  }
  .mega-menu-row-1 li.menu-item:nth-child(1n+0), .mega-menu-row-2 li.menu-item:nth-child(2n+0), .mega-menu-row-3 li.menu-item:nth-child(3n+0), .mega-menu-row-4 li.menu-item:nth-child(4n+0), .mega-menu-row-5 li.menu-item:nth-child(5n+0) {
    border-right: 0px solid transparent !important;
  }
}

.cs-nav-dropdown, .cs-nav-menu {
  padding-left: 20px !important;
}

.cs-nav-dropdown i, .cs-nav-cart i, .cs-nav-menu i, .cs-nav-search i {
  font-size: 24px;
  position: relative;
  bottom: -3px;
  color: #545454;
}

.cs-nav-dropdown i, .cs-nav-menu i {
  bottom: -4px;
}

.cs-nav-menu-full {
  width: 100%;
  text-align: center;
  span {
    padding-left: 12px;
    line-height: 26px;
    top: -4px;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.cs-sticky-logo {
  display: none;
}

.cs-sticky-header-active {
  .cs-sticky-logo {
    display: block;
  }
  .cs-standard-logo {
    display: none;
  }
}

.primary-desktop-light {
  position: absolute !important;
  z-index: 5000;
  width: 100%;
  .cs-header:not(.cs-sticky-header-active) {
    background-color: rgba(255, 255, 255, 0) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;

    .header-logo .cs-table-cell {
      padding-top: 10px;
    }

    .cs-nav > li {
      > a, &.menu-item > a > i {
        color: rgba(255, 255, 255, 0.85) !important;
      }
    }
    .cs-nav-lang > a > span {
      border-color: rgba(255, 255, 255, 0.2);
    }
    .cs-nav > li {
      &.current_page_item > a, &:not(.current_page_item):hover > a {
        color: $white-color !important;
      }
    }
    .c-hamburger {
      &:not(.is-active) span {
        background-color: $white-color !important;
      }
      span {
        &:before, &:after {
          background-color: $white-color !important;
        }
      }
    }
  }
}

.primary-desktop-light-noborder > {
  .cs-header:not(.cs-sticky-header-active), .cs-header-height > .cs-header:not(.cs-sticky-header-active) {
    border-bottom-width: 0px !important;
  }
}

#page-container .primary-mobile-light-noborder .cs-header-mobile {
  border-bottom-width: 0px !important;
}

.primary-mobile-light {
  position: absolute;
  z-index: 5000;
  width: 100%;
  .cs-header-mobile {
    background-color: rgba(255, 255, 255, 0) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;

    &.cs-sticky-header-active {

      .cs-header-mobile-navigation {
        background-color: $white-color;
      }

      .cs-nav-container {
        padding: 0;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
      }
    }
  }
  .cs-header-mobile-navigation {
    border-bottom: 0px !important;
  }
  .cs-header-mobile {
    .cs-nav > li {
      > a, &.menu-item > a > i {
        color: rgba(255, 255, 255, 0.85) !important;
      }
      &.current_page_item > a {
        color: $brand-dark !important;
      }
    }
    &:not(.cs-sticky-header-active) .c-hamburger {
      &:not(.is-active) span {
        background-color: $white-color;
      }
      span {
        &:before, &:after {
          background-color: $white-color;
        }
      }
    }
    &.cs-sticky-header-active {
      .c-hamburger span {
        color: $brand-dark;
      }
    }
  }
  .cs-header-mobile-dropdown {
    .cs-nav-mobile li a {
      color: $brand-dark;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
    }
    .cs-nav-mobile li.current-menu-item > a {
      color: $brand-primary;
    }
  }
}

.cs-breadcrumb-active {
  .primary-mobile-light .cs-header-mobile {
    border-bottom: 0 !important;
  }
}

.primary-desktop {
  position: relative;
  z-index: 1000;
}

.cs-header-mobile-dropdown {
  display: none;
  z-index: 1200;
  position: relative;
  background-color: $white-color;
}

.cs-header-mobile .container {
  padding: 0 15px;
}

.cs-header-mobile-navigation {
  border-bottom: 1px solid $brand-dark;
  .cs-nav-dropdown .c-hamburger {
    top: -1px;
  }
  .cs-nav-container {
    padding: 40px 0;
  }
}

.cs-nav-mobile {
  max-width: 800px;
  padding: 20px 0 !important;
  overflow: hidden;
  ul {
    display: none;
    margin-left: 30px !important;
    &.open {
      display: block;
    }
  }
  li {
    &:after {
      content: "";
      display: block;
      left: 0;
      right: 0;
      position: absolute;
      height: 1px;
      background-color: $border-color-light;
      width: 100%;
    }
    &:last-child:after {
      height: 0;
    }
  }
  ul {
    position: relative;
    li:after {
      left: auto;
      right: auto;
    }
  }
  li {
    a {
      font-size: 13px;

      &:hover {
        color: $white-color;
      }
    }
    .sub-menu:before {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      background-color: $border-color-light;
      width: 100%;
    }
    &.current-menu-item > a {
      color: $white-color;
    }
    &.menu-item-has-children > a:after {
      font-family: "simple-line-icons" !important;
      font-display: swap;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      position: relative;
      font-size: 12px;
      margin-left: 6px;
      top: 6px;
      float: right;
      content: "\e604";
    }
    a {
      display: block;
      padding: 16px 0;
      color: $border-color-light;
    }
  }
}

.cs-header-mobile .cs-nav-mobile li:last-child {
  border-bottom: 0px solid transparent !important;
}

header.primary-mobile {
  display: none;
}
