.dividing-headline {
  margin-bottom: 60px;

  &.small-divider {
    margin-bottom: 30px;
  }

  .cs-heading {
    span {
      span {
        display: inline-block;
      }
    }
    .cs-heading-content {
      background-position: 50% 50%;
      background-size: cover;
      margin: 0 0 20px 0;
      margin-bottom: 0;
      font-weight: 600;
      font-size: 44px;
      @media (max-width: 1024px) {
        font-size: 28px;
      }
      color: #3f3f3f;
      padding: 0;
      line-height: normal !important;

      p {
        line-height: 1.15;
      }

      &.subline {
        margin-top: 5px;
        font-size: 36px;
        @media (max-width: 1024px) {
          font-size: 24px;
        }
        font-weight: 300;
        color: $light-grey;
      }
    }
  }

  .cs-divider {
    margin: 12px 0 0 0 !important;

    .cs-divider-line {
      border-top: 2px solid rgba(255, 255, 255, 0.3);
      max-width: 90px;
      margin: 0 auto;

      &.theme {
        border-top-color: $brand-primary;
      }

      &.grey {
        border-top-color: $border-color-light;
      }
    }
  }

  &.left,
  &.full {
    .cs-heading-content .title-text,
    h3, .subline {
      text-align: left;
    }
    .cs-divider-line {
      margin-left: 0;
    }
  }
  &.full {
    .cs-divider-line {
      border-radius: 0;
      &:after {
        content: '';
        background: $light-grey;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
    }
  }
}

