.cs-icon {
  display: table !important;
}

.cs-icon-left {
  margin-right: auto;
}

.cs-icon-right {
  margin-left: auto;
}

.cs-icon-center {
  margin: 0 auto;
}

.cs-icon-group {
  text-align: center;
}

.cs-icon-group-left {
  text-align: left;
}

.cs-icon-group-right {
  text-align: right;
}

.cs-icon-group-item {
  display: inline-block;
  padding: 12px 24px;
  i {
    font-size: 24px;
    line-height: 60px;
  }
  width: 60px;
  height: 60px;
  padding: 0 10px;
  position: relative;
  cursor: pointer;
}

.cs-icon-group-style2 .cs-icon-group-item {
  border-radius: 100px;
  border: 1px solid rgba(183, 183, 183, 0.53);
  width: 54px;
  height: 54px;
  text-align: center;
  margin-right: 12px;
  transition: 0.3s all ease-in-out;
  i {
    line-height: 53px;
  }
}

.cs-icon-group-style1 {
  .cs-icon-group-item-container {
    transition: 0.5s all;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    text-align: center;
  }
  .cs-icon-group-item:hover .cs-icon-group-item-container {
    background-color: $white-color;
    width: 60px;
    -webkit-animation: icon_round_animation 0.5s;
    animation: icon_round_animation 0.5s;
    color: $white-color;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
    i {
      color: #505050 !important;
    }
  }
}
