.galleryWrapper {
  .item {
    overflow: hidden;
    img {
      max-width: 100%;
      vertical-align: bottom;
    }

    &:hover img {
      opacity: .75;
      box-shadow: 0 0 8px $border-color-light;
      transition: all 0.2s ease-in-out;
    }
  }
}

.masonry {
  transition: all .5s ease-in-out;
  column-gap: 20px;
  column-fill: initial;

  @media only screen and (min-width: 1024px) {
    column-count: 4;

    &#instafeed-gallery-feed {
      column-count: 3;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    column-count: 2;
  }

  .cover {
    margin-bottom: 20px;
  }
}
.cs-related-posts {
  padding-bottom: 20px;
  @media (min-width: 781px) {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 2fr 2fr;
    @media (min-width: 991px) {
      grid-template-columns: 3fr 3fr 3fr;
    }
  }
  &--item {
    margin-bottom: 30px;
  }
}

.cs-image-gallery {
  display: none;
  padding-bottom: 20px;
  &.slick-initialized {
    display: block;
    .slick-dots {
      bottom: 0;
    }
  }

  &:not(.cs-related-posts) {
    .slick-arrow {
      display: none !important;
    }
  }

  &.cs-related-posts {
    .slick-track {
      display: inline-block;
    }

    nav {
      position: absolute;
      top: 42%;
      z-index: 2;
      width: 16px;
      height: 29px;
      background: no-repeat center center;
      cursor: pointer;
      transition: all 0.2s ease 0s;
      &.previous-arrow {
        left: -15px;
        background-image: url('../../src/images/icons/previous.svg');
      }
      &.next-arrow {
        right: -15px;
        background-image: url('../../src/images/icons/next.svg');
      }

      &:hover {
        top: 43%;
      }
    }
  }

  &.skew {
    .cover {
      padding: 4px;
      position: relative;
      .item {
        margin: 0 -1px;
        border-radius: 6px;
        transform: skew(-20deg);
        backface-visibility: hidden;
        overflow: hidden;
        .brick {
          display: block;
          margin: 0 -150px;
          transform: skew(20deg);
        }
      }
    }
  }
}

.slick-dots {
  list-style: none;
  padding-left: 0;
  display: table;
  margin: 0 auto;
  position: absolute;
  margin-top: -60px;
  text-align: center;
  width: 100%;
  li {
    display: inline-block;
    margin: 0 5px;
    width: auto !important;
    button {
      border: none;
      background-color: $white-color;
      color: $white-color;
      font-size: 0;
      padding: 0;
      width: 12px;
      height: 12px;
      border-radius: 30px;
    }
  }
}

.cs-image-gallery .slick-dots li {
  button {
    background-color: $border-color-light;
  }
  &.slick-active button {
    background-color: $brand-primary;
    width: 17px;
    height: 17px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
  }
}

.slick-list, .slick-slide, .slick-track {
  height: 100%;
  width: 100%;
}

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  opacity: 1;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.masonry.instagram {

  .cover {
    margin-bottom: 20px;
  }

  .img-featured-container {
    overflow: hidden;
    position: relative;
    .img-backdrop {
      background: linear-gradient(135deg, rgba(1, 138, 202, 0.85), rgba(207, 232, 245, 0.55));
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s ease;
    }

    img {
      width: 100%;
      margin: 0;
    }

    &:hover {
      .img-backdrop,
      .description-container {
        opacity: 1;
      }
    }
    .description-container {
      color: $white-color;
      font-size: 16px;
      padding: 0 30px;
      text-align: center;
      line-height: 18px;
      width: 100%;
      position: absolute;
      top: calc(50% - 15px);

      z-index: 2;
      opacity: 0;
      transition: all .3s ease;

      p {
        font-weight: 300;
        margin-bottom: 0;
      }
      .caption {
        display: none;
        margin-bottom: 10px;
      }
      .likes,
      .comments {
        margin: 0 5px;

        i {
          font-weight: $font__weight--bold;
          font-size: 16px;
        }
      }
    }
  }

  /* media queries  */
  @media screen and (min-width: 768px) {
    .img-featured-container .description-container .caption {
      display: block;
    }
  }

  #progressbar {
    height: 26px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    background: rgba(159, 159, 159, 0.5);
    margin: -20px 0 0 -100px;
    #loading {
      transition: all 500ms ease;
      height: 20px;
      width: calc(100% - 10px);
      background: $brand-primary;
      position: absolute;
      margin: 3px;
      display: inline-block;
      animation: load 15s ease infinite;
    }
    #load {
      font-weight: bold;
      text-align: center;
      margin-top: -30px;
    }
  }

  @keyframes load {
    0% {
      width: 2%;
    }
    10% {
      width: 10%;
    }
  }
}

.cs-button-container.insta {
  display: flex;
  align-items: center;
  justify-content: center;

  #btn-instafeed-load {
    color: $white-color;
    background: $brand-primary;
    font-size: 16px;
    margin: 20px auto;
    padding: 8px 40px;
    border: none;

    .cs-button-text {
      font-weight: $font__weight--medium;
    }
  }
}



