
.cs-placement-left {
  margin-right: auto;
}

.cs-placement-center {
  margin: 0 auto;
}

.cs-placement-right {
  margin-left: auto;
}

.cs-group {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  > * {
    float: left;
  }
}

.cs-columns {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  > * {
    float: left;
  }
  /*> {
      &:last-child {
          float: right;
      }
  }*/
}

.cs-table {
  display: table;
  width: 100%;
}

.cs-hidden {
  display: none;
}

.cs-table-full {
  display: table;
  width: 100%;
  height: 100%;
}

.cs-table-small {
  display: table;
}

.cs-table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none !important;
}

.cs-table-cell-top {
  display: table-cell;
  vertical-align: top;
}

.fw-row {
  margin: 0;
}

.fw-container {
  max-width: 1200px;
  padding: 50px 0;
}

.fw-container-fluid {
  padding: 0;
}

.container-padding {
  padding: 0 15px !important;
}

.container-fluid {
  padding: 0;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  .fw-row {
    position: relative;
    margin: 0 -15px;
  }
}

.cs-footer-columns {
  position: relative;
  margin: 0 -15px;
}

.blog-style-largedate {
  position: relative;
  margin: 0 -15px;
}

.contact-form {
  .wrap-forms {
    .fw-row {
      position: relative;
      margin: 0 -15px;
    }
  }
}

.row-no-margin {
  margin: 0;
  > div {
    margin: 0;
    padding: 0;
  }
}

.page-fullwidth {
  width: 100%;
  min-width: 100%;
  float: none;
  padding: 0;
}

#content {
  width: 100%;
  > table {
    margin-bottom: 30px;
  }
  &.the-page {
    margin-top: 40px;
  }
}

#content.content-with-sidebar-right {
  width: 73%;
  padding-right: 2%;
  float: left;
}

#content.content-with-sidebar-left {
  width: 73%;
  padding-left: 2%;
  float: right;
}

#wrapper {
  #content.content-with-sidebar-left {
    .container {
      width: 100% !important;
      min-width: 100% !important;
    }
  }
  #content.content-with-sidebar-right {
    .container {
      width: 100% !important;
      min-width: 100% !important;
    }
  }
  overflow: hidden;
  position: relative;
  > .cs-page-layout-default {
    padding: 60px 0px;
  }
  > .cs-page-layout-full {
    .page-default-content {
      padding: 45px;
    }
  }
}

#sidebar.sidebar-left {
  float: left;
  width: 25%;
}

#sidebar.sidebar-right {
  float: right;
  width: 25%;
}

#sidebar {
  h3 {
    font-size: 20px;
    line-height: 23px;
    color: #000;
    font-weight: 600;
    > a {
      font-size: 20px;
      line-height: 23px;
      color: #000;
      font-weight: 600;
    }
  }
}

.page-template-page-blog {
  .cs-page-layout-full {
    padding: 60px 30px;
  }
}

.width-15p {
  width: 15%;
}

.width-20p {
  width: 20%;
}

.width-3p {
  width: 30%;
}

.width-40p {
  width: 40%;
}

.width-60p {
  width: 60%;
}

.width-70p {
  width: 70%;
}

.width-85p {
  width: 85%;
}

.width-100p {
  width: 100%;
}

.width-full {
  width: 100%;
}

.cs-clear {
  clear: both;
}

.cs-seperator-container {
  position: relative;
}

.cs-seperator-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.cs-seperator-icon {
  text-align: center;
  width: 100%;
  i.fa {
    background: #fff;
    padding: 0 10px;
  }
}

.cs-parallax {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover !important;
  background-attachment: fixed;
  background-position: center center !important;
  -webkit-backface-visibility: hidden;

  @media (max-width: 1024px) {
      background-attachment: scroll !important;
      background-position: inherit !important;
    }
}

.cs-parallax-darken {
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    background: #000;
    background: linear-gradient(to top, #262626, #000);
  }
}

.cs-panels-stretch {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.cs-breadcrumb-active .container.entry-content {
  margin-top: 380px;
}

@media (min-width: 1370px) {
  .page-template-page-blog {
    .cs-page-layout-full {
      .blog-style-masonry {
        article {
          width: 25%;
        }
      }
    }
  }
}

.cs-column {
  background-size: cover;
  background-position: 50% 50%;
  padding: 0px 15px 0px 15px;
  margin: 0px 0px 0px 0px;
  transition: all 0.3s ease-in-out !important;
}

.cs-column-wrapper {
  z-index: 1;
  position: relative;
  > *:last-child {
    margin-bottom: 0px;
  }
}

@media (max-width: 800px) {
  .cs-column:not(:only-of-type):not(.cs-column-mobile-padding) .cs-column-wrapper > *:last-child {
    margin-bottom: 45px !important;
  }
  .cs-section .fw-row:last-child .cs-column:not(.cs-column-mobile-padding):last-child .cs-column-wrapper > *:last-child {
    margin-bottom: 0 !important;
  }
}

.cs-section {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #ffffff;
}

.cs-section-container {
  position: relative;
  z-index: 100;
}

@media (min-width: 800px) {
  .section-justify-height .cs-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 800px) {
  .cs-section-visibility-desktop {
    display: block;
  }
  .cs-section-visibility-mobile {
    display: none;
  }
}

@media (max-width: 800px) {
  .cs-section-visibility-desktop {
    display: none;
  }
  .cs-section-visibility-mobile {
    display: block;
  }
}

.bottom-1 {
  position: relative;
  bottom: -1px;
}

.bottom-2 {
  position: relative;
  bottom: -2px;
}

.bottom-3 {
  position: relative;
  bottom: -3px;
}

.bottom-4 {
  position: relative;
  bottom: -4px;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 20px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  top: 10px;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 9px;
  left: 0px;
  right: 0px;
  height: 2px;
  background: #545454;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #545454;
  content: "";
}

.c-hamburger span::before {
  top: -9px;
}

.c-hamburger span::after {
  bottom: -9px;
}

.c-hamburger--htx {
  background-color: transparent;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

.c-hamburger--htx.is-active span {
  background: transparent !important;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
  width: 26px;
  left: -4px;
  margin-left: 3px;
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
  width: 26px;
  left: -4px;
  margin-left: 3px;
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

.cs-ratio {
  position: relative;
}

.cs-ratio-container {
  padding-bottom: 56.25%;
}

.cs-ratio-container-4_3 {
  padding-bottom: 75%;
}

.cs-ratio-container-square {
  padding-bottom: 100%;
}

.cs-ratio-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-position: 50% 50%;

  iframe {
    width: 100%;
    height: 100%;
  }
}




