.teaser-standard:hover .cs-overlay-style1 {
  opacity: 1;
  .cs-overlay-item {
    opacity: 1;
  }

  .cs-overlay-item-container {
    background-color: $white-color;
    width: 60px;
    animation: icon_round_animation 0.5s;
    color: $white-color;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);

    i {
      color: $medium-grey;
    }
  }
}

.cs-overlay-style1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(1, 138, 202, 0.8);
  font-size: 24px;
  opacity: 0;

  i {
    position: relative;
    bottom: -3px;
    color: $white-color;
  }

  .cs-table-cell i {
    position: relative;
    overflow: visible;
    z-index: 10;
  }

  .icon-link {
    padding-left: 2px;
  }

  .cs-overlay-item {
    width: 50%;
    position: relative;
    text-align: center;
    height: 60px;
    transition: 0.5s all;
    opacity: 0;
  }

  &:hover .cs-overlay-item {
    opacity: 1;
  }

  .cs-overlay-item-container i {
    font-size: 24px;
    line-height: 56px;
    transition: 0.5s all;
  }

  .cs-overlay-item {
    width: 60px;

    &:first-child .cs-overlay-item-container {
      right: 0;
    }

    &:only-child .cs-overlay-item-container {
      left: 50%;
      transform: translateX(-40px) translateY(-30px);
    }
  }

  .cs-overlay-item-container {
    transition: 0.5s all;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-30px);
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .cs-overlay-item:hover .cs-overlay-item-container {
    background-color: $white-color;
    width: 60px;
    animation: icon_round_animation 0.5s;
    color: $white-color;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);

    i {
      color: $medium-grey;
    }
  }
}

.cs-gallery-item .cs-overlay-style1 {
  opacity: 0 !important;
}

.blog-single {
  .cs-overlay-style1, .cs-gallery-item:hover .cs-overlay-style1 {
    opacity: 0 !important;
  }
}
