.cs-pagination {
  padding: 30px 0;

  ul.page-numbers {
    display: none;
    margin: 0 auto;
    list-style: none;
    background-color: $white-color;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    border-width: 0;
    transform: skew(-10deg);
  }

  ul.page-numbers {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    li {
      display: block;
      float: left;
      margin: 0 2px;
      text-align: center;
    }
  }

  ul.page-numbers {
    a, span {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-weight: 400;
      cursor: pointer;
      padding: 0;
    }
  }

  ul.page-numbers {
    .prev, .next {
      width: auto;
      padding: 0 10px;
    }
  }

  ul.page-numbers .prev {
    padding-left: 15px;
  }

  ul.page-numbers .next {
    padding-right: 15px;
  }

  ul.page-numbers {
    a {
      span {
        padding: 0;
      }
      &:hover {
        color: $brand-primary;
        font-weight: $font__weight--bold;
      }
    }
    .current {
      font-weight: bold;
      color: $white-color;
      background-color: $brand-primary;
      &:hover {
        color: $white-color;
        background-color: $brand-primary;
      }
    }
  }

  .cs-page-links p {
    font-weight: bold;
    margin-bottom: 15px;
  }
}
