/**
 * Theme Responsive Styles
 */

/**
 * General
 */

/*@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }
}
@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1020px) {
  .container {
    max-width: 1020px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}*/

@media (min-width: 1250px) {
  /* Page Container */
  .container {
    max-width: 1200px !important;
    width: 1200px !important;
  }
}
/*
@media (min-width: 1432px) {
  .container {
    max-width: 1432px;
    width: 1432px !important;
  }
}*/
.home {
  #pg-2-0 {
    width: 100% !important;
    max-width: inherit !important;
  }
}

@media (max-width: 1250px) {
  /* Page Container */
  .container {
    max-width: 960px !important;
  }
  /* WooCommerce - Increase numbers */
  .cs-increase-numbers {
    span {
      display: none !important;
    }
    input {
      border: 2px solid #e5e5e5 !important;
    }
  }
  /* WooCommerce - Products */
  .cs-recent-products .woocommerce {
    &.columns-5 .products li, &.columns-6 .products li {
      width: 33.3% !important;
    }
  }
}

@media (max-width: 1025px) and (min-width: 1023px) {
  body.cs-ipad-landscape-full-navigation header {
    &.primary-desktop {
      display: block;
    }
    &.primary-mobile {
      display: none;
    }
  }
}

@media (max-width: 1025px) {
  /* Page Container */
  .container {
    max-width: 850px !important;
  }
  /* Header */
  header {
    &.primary-desktop {
      display: none !important;
    }
    &.primary-mobile {
      display: block !important;
    }
  }
  /* Blog */
/*  .blog-list:not(.blog-style-small):not(.blog-style-medium):not(.blog-style-large) .post-item {
    width: 50%;
  }*/
  .content-with-sidebar-left .blog-style-grid article, .content-with-sidebar-right .blog-style-grid article {
    width: 49.5% !important;
  }
  #wrapper {
    #content, #sidebar {
      float: none;
      width: 100%;
      padding-right: 0;
    }
  }
  #content + #sidebar {
    margin-top: 60px;
  }
  /* WooCommerce - Products */
  .woocommerce .woocomerce-styling .products li {
    width: 48% !important;
  }
  .cs-recent-products {
    &:not(.cs-recent-products-carousel) .woocommerce .products li {
      width: 48% !important;
    }
    .woocommerce {
      &.columns-5 .products li, &.columns-6 .products li {
        width: 48% !important;
      }
    }
  }
  /* Nothing found */
  .cs-nothing-found-big {
    span {
      font-size: 36px;
    }
    div {
      font-size: 72px;
      line-height: 62px;
    }
  }
}

@media (max-width: 900px) {
  /* Page Container */
  .container {
    max-width: 740px !important;
  }
  /* Testimonials */
  .cs-testimonials-style3 .cs-testimonials-table {
    display: block;
    > div {
      &:last-child {
        display: block;
        width: 100% !important;
        margin-top: 15px;
      }
      &:nth-child(3) {
        width: 100% !important;
      }
    }
  }
  /* Blog */
  .content-with-sidebar-left .blog-style-grid article, .content-with-sidebar-right .blog-style-grid article, .cs-footer .cs-footer-columns > .widget-item {
    width: 100% !important;
  }
  /* Footer */
  /* Copyrights */
  .cs-copyrights {
    text-align: center;
    padding: 35px 0;
    div {
      float: none !important;
      width: 100%;
      display: block;
    }
    .cs-copyrights-social {
      margin-top: 20px;
    }
    .cs-copyrights-style1, .cs-copyrights-style2 {
      height: auto;
    }
  }
  .cs-copyrights-style2 .cs-copyrights-logo {
    margin-bottom: 15px;
  }
  .cs-copyrights-text, .cs-copyrights-social {
    line-height: auto !important;
  }
  .cs-footer .cs-copyrights-social a {
    position: relative;
    margin-left: 3px;
    margin-top: -1px;
  }
  /* Countdown */
  .cs-countdown:not(.cs-countdown-small) > div {
    padding: 3px 13px;
    > {
      span {
        font-size: 36px;
      }
      div {
        font-size: 14px;
        padding-top: 0px !important;
      }
    }
  }
  .cs-countdown-style3:not(.cs-countdown-small) > {
    .weeks > span, .days > span {
      font-size: 60px;
    }
    .weeks > div, .days > div {
      font-size: 21px;
      margin-top: 5px;
    }
    div > div {
      font-size: 16px;
    }
  }
}

@media (max-width: 800px) {
  /* Page Container */
  .container {
    max-width: 600px !important;
  }
  .cs-column {
    width: 100%;
  }
  .section-justify-height .cs-column > div {
    display: block;
    height: auto;
    > div {
      display: block;
      height: auto;
    }
  }
  .cs-google-map .section-justify-height-google-maps {
    max-height: none !important;
    min-height: none !important;
  }
  /* Team Filter */
  .cs-filer-icon {
    position: absolute;
    padding-left: 15px;
  }
  .cs-filter {
    width: 100%;
    border-width: 0px;
    .cs-filter-item {
      position: relative;
    }
  }
  /* Pricing */
  .cs-pricing.cs-pricing-enlarge {
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px;
  }
  /* Blog */
  .blog-style-small {
    .post-left-side, .post-right-side {
      width: 100%;
    }
  }
  .blog-style-medium {
    .post-left-side, .post-right-side {
      width: 100%;
    }
  }
  .blog-style-large {
    .post-left-side, .post-right-side {
      width: 100%;
    }
  }
  .blog-style-small .post-left-side, .blog-style-medium .post-left-side, .blog-style-large .post-left-side {
    margin-bottom: 20px;
  }
  /* Titlebar */
  .cs-titlebar {
    .titlebar-title {
      display: block;
      width: 100%;
      text-align: center;
    }
    .title-level {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 15px;
    }
  }
  /* Shop */
  .woocommerce-page table.cart {
    .product-remove, .product-subtotal {
      display: none;
    }
    #coupon_code {
      width: 100% !important;
      margin-bottom: 8px;
    }
    .button {
      &[name="apply_coupon"], &[name="update_cart"] {
        width: 100% !important;
        margin-bottom: 8px;
      }
    }
  }
  .woocommerce .cart-collaterals .cart_totals {
    width: 100% !important;
  }
  /* Back to top */
  .cs-back-to-top {
    bottom: 15px;
    right: 15px;
    -webkit-transform: scale(0.92, 0.92);
    -ms-transform: scale(0.92, 0.92);
    transform: scale(0.92, 0.92);
  }
  /* Filter */
  .cs-tabs .cs-tabs-filter {
    border-bottom-width: 0 !important;
    li a {
      border-bottom-width: 0 !important;
    }
  }
  /* WooCommerce  */
  .woocommerce {
    div.product .woocommerce-tabs ul.tabs:before {
      border-bottom-color: transparent !important;
    }
    .woocommerce-tabs li {
      margin-right: -4px !important;
    }
  }
}

@media (max-width: 650px) {
  /* WooCommerce - Products */
  .woocommerce .woocomerce-styling .products li {
    width: 100% !important;
  }
  .cs-recent-products {
    &:not(.cs-recent-products-carousel) .woocommerce .products li {
      width: 100% !important;
    }
    .woocommerce {
      &.columns-5 .products li, &.columns-6 .products li {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 700px) {
  /* Page Container */
  .container {
    max-width: 468px !important;
  }
  /* WooDommerce */
  .woocommerce {
    .woocommerce-result-count {
      line-height: normal !important;
      margin-bottom: 15px;
      width: 100% !important;
      text-align: center;
    }
    .woocommerce-ordering {
      display: table;
      margin: 0 auto 30px auto;
      float: none !important;
    }
  }
  /* Blog */
  .blog-single {
    .post-meta {
      float: none;
      width: 100%;
    }
    .cs-page-switcher {
      margin-left: 0;
      padding-top: 10px;
    }
  }
}

@media (max-width: 550px) {
  /* Page Container */
  .container {
    max-width: 300px !important;
  }
  /* Blog */
  .blog-list:not(.cs-recent-posts-list-carousel) .post-item {
    width: 100% !important;
  }
  .cs-post-author {
    .cs-post-author-avatar, .cs-post-author-info {
      width: 100%;
      display: block;
    }
  }
  /* Comments */
  .cs-comments-required-notice {
    float: none;
    padding-bottom: 15px;
  }
}

@media (max-width: 320px) {
  /* Page Container */
  .container {
    width: 280px;
    min-width: 280px;
    max-width: 280px;
  }
}

/**
 *  Header - Left (custom responsive sizes)
 */

@media (min-width: 1100px) {
  .cs-header-in-side {
    padding-left: 320px !important;
    .cs-footer {
      padding-left: 320px !important;
    }
  }
  .cs-header-left-side .rev_slider_wrapper {
    max-width: 100% !important;
    left: 320px !important;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1100px) {
  .cs-header-in-side .container {
    width: 85% !important;
  }
}

@media (max-width: 1100px) {
  #page-container.cs-header-in-side {
    .cs-header-left-side {
      display: none;
    }
    margin-left: 0px !important;
    .primary-mobile {
      display: block !important;
    }
  }
}

@media (max-height: 800px) {
  .cs-header-left-side #header-logo {
    padding: 20px 0 35px 0 !important;
  }
}

/**
 * Pie Chart (custom responsive sizes)
 */
@media screen and (min-width: 850px) and (max-width: 1025px) {
  .cs-piechart {
    -ms-transform: scale(0.72, 0.72);
    -webkit-transform: scale(0.72, 0.72);
    transform: scale(0.72, 0.72);
  }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
  .cs-piechart {
    -ms-transform: scale(0.56, 0.56);
    -webkit-transform: scale(0.56, 0.56);
    transform: scale(0.56, 0.56);
    /*margin-left: -18px;*/
  }
}

/**
 * Iconbox (custom responsive sizes)
 */
@media screen and (min-width: 551px) and (max-width: 850px) {
  .cs-iconbox .ratio-container-portrait {
    padding-top: 70% !important;
  }
}

/**
 * Side Header responsive fix
 */
@media (min-width: 1100px) {
  .cs-header-in-side .cs-footer {
    padding-left: 0;
  }
}







