.pk-share-buttons-wrap {
  margin-top: 64px;
  margin-bottom: 0;
}

.pk-social-links-icon {
  font-size: 22px;
}

.pk-share-buttons-after-content,
.pk-share-buttons-layout-equal {
  .pk-share-buttons-item {
    margin: 0;
    padding: 0;
  }

  .pk-share-buttons-label {
    font-size: 12px;
    padding-top: 3px;
  }

  .pk-share-buttons-link {
    position: relative;
    height: 56px;
    padding: 0 24px;

    i {
      font-size: 22px;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: currentColor;
    }
  }
}