.cs-tabs-filter {
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
  li {
    border-bottom: 1px solid #eeeeee;
    a {
      display: inline-block;
      position: relative;
      bottom: 0px;
      margin: 0px;
      padding: 15px 10px;
      cursor: pointer;
      background-color: transparent !important;
      border: 0 !important;
      border-bottom-width: 1px !important;
      font-weight: bold;
      font-size: 13px;
      transition: 0.3s all ease-in-out;
      text-transform: uppercase;
      border-bottom: 1px solid #eeeeee;
      line-height: inherit;
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: -2.5px;
        height: 5px;
        border-radius: 5px;
        background-color: $brand-primary;
        z-index: 100;
        transition: 0.3s all ease-in-out;
        opacity: 0;
      }
    }
    &.active a {
      &:after {
        opacity: 1;
        transition: 0s all ease-in-out;
      }
      color: $brand-primary !important;
      transition: 0s all ease-in-out;
    }
    &:first-child a {
      padding-left: 0;
      &:after {
        left: 0px;
      }
    }
    &:last-child a {
      padding-right: 0;
      &:after {
        right: 0px;
      }
    }
  }
}

.cs-tabs-icon {
  font-size: 24px;
  padding-right: 8px;
  position: relative;
  bottom: -5px;
}

/*.cs-tabs-style2 {
  .cs-tabs-filter {
    display: table;
    margin: 0 auto 30px auto;
    li {
      text-align: center;
    }
  }
  .cs-tabs-icon {
    display: block;
    text-align: center;
    font-size: 36px;
    padding-right: 0;
    margin-bottom: 15px;
    
  }
}

.cs-tabs-style1 .cs-tabs-icon {
  font-size: 24px;
  position: relative;
  bottom: -5px;
}

.cs-tabs-style3 .cs-tabs-filter {
  display: table;
  margin-left: 0;
}*/

.cs-accordion {
  margin-bottom: 15px;
}

.cs-accordion-title {
  font-weight: $font__weight--medium;
  font-size: 14px;
}

.cs-accordion {
  .panel {
    margin: 0 !important;
    box-shadow: none;
    background-color: transparent;
    &:first-child {
      padding-top: 0 !important;
    }
    a {
      font-size: 14px;
    }
  }
  .panel-default > .panel-heading {
    background-color: transparent;
  }
  .panel-title a {
    display: block;
    padding: 0 5px;
    background-color: $white-color;
    border-bottom: 2px solid $brand-primary;
    color: $brand-primary;
    font-weight: $font__weight--bold;
    transition: background .2s ease-in-out;

    i {
      background-color: transparent;
      color: $brand-primary;
      font-size: 45px;
      font-weight: $font__weight--medium;
    }
    &.collapsed {
      border-bottom-color: $border-color-light-3;
      color: $light-grey;

      &:hover {
        color: $brand-primary;
      }
      i {
        color: $light-grey;
        background-color: transparent;
      }
    }
  }
  .cs-accordion .panel-default > .panel-heading {
    background-color: transparent;
  }
  .panel-default, .panel, .panel-heading {
    border-radius: 0;
    padding: 0;
    border: none;

    &:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }
  .panel .panel-collapse .panel-body {
    border-top-color: transparent;
    border-radius: 0;
    background-color: $white-color;
    padding: 20px 5px;

    p:last-child {
      margin-bottom: 0;
    }
  }
  .collapsed .open-icon, .close-icon {
    display: inline-block;
  }
  .collapsed .close-icon, .open-icon {
    display: none;
  }
  .cs-accordion-icon {
    display: inline-block;
  }
  .cs-accordion-icon-cell {
    padding-right: 20px;
  }
  .panel-body .cs-accordion-icon-cell {
    opacity: 0;
  }
  .panel-body .cs-accordion-content-cell {
    padding-left: 15px;
  }
  .cs-accordion-content-cell {
    width: 100%;
  }

  &.style2 {
    &.panel-group {
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.06);
      border-radius: 4px;

      .cs-accordion-title {
        font-size: 18px;
      }

      .cs-accordion-icon-cell {
        padding-right: 0;
      }

      .panel-title a {
        background-color: $brand-primary;
        color: $white-color;

        i {
          color: $white-color;
        }
      }
    }
  }
}


