.teaser-standard {
  &.post-item {
    .post-container {
/*      margin: 0 15px;*/
      position: relative;
      transition: 0.3s all ease-in-out;
      bottom: 0;

      .post-meta-thumb {
        position: relative;
        max-height: 700px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
          width: 100%;
          min-width: 100%;
          height: auto;
          transition: all 0.3s ease-in-out;
          margin-bottom: 0;
        }

        &:hover {
          img {
            transform: translate3d(0, 0, 0) scale(1.1, 1.1);
          }
        }
      }
    }

    /*&:hover .post-container {
      transform: translate3d(0, 0, 0) scale(1.1, 1.1);
    }*/
  }

  .post-title h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
    line-height: 1.15 !important;
    @media (max-width: 1024px) {
      font-size: 22px;
    }
  }

  .post-content {
    padding-bottom: 16px;
    color: $light-grey;
  }

  .post-meta {
    font-size: 11px;
    margin-bottom: 0;
    font-weight: 700;
    color: $brand-dark;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > * {
      display: flex;
      align-items: center;
    }

    > *:not(:first-child):before {
      content: "";
      width: 1rem;
      height: 1px;
      margin: 0 0.5rem;
      background-color: $brand-dark;
      transition: 0.25s;
    }

    i {
      margin-right: 4px;
    }
  }

  &.post-item .post-content-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 22px;
    background-color: $white-color;
  }

  .cs-category-slug {
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: $brand-primary;
    color: $white-color;
    font-weight: 600;
    font-size: 10px;
    padding: 4px 6px;
    line-height: 10px;
    min-height: 0;
    min-width: 0;
    z-index: 2;
    cursor: default;
    letter-spacing: 0.5px;
  }

  &.list {
    .post-container {
      @media (min-width: 1025px) {
        flex-direction: row;
        justify-content: space-between;
        display: flex;
        margin: 0;
      }
    }

    .post-meta-thumb {
      @media (min-width: 1025px) {
        flex: 0 0 calc(50% - (48px / 2));
        max-width: calc(50% - (48px / 2));
      }
    }

    .post-content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (min-width: 1025px) {
        padding-top: 0;
        padding-left: 32px;
      }
      .slug-wrapper {
        position: relative;
        height: 18px;

        .cs-category-slug {
          left: 0;
          top: 0;
        }
      }

      .post-meta {
        .post-meta-date {
          padding-left: 0;
        }
        @media (min-width: 1025px) {
          margin-top: auto;
          padding-top: 1rem;
        }
      }

      h2 {
        margin-top: 6px;
        @media (min-width: 1025px) {
          font-size: 28px;
          font-weight: 600;
        }
      }
    }
  }

  &.event {
    .post-content-container {
      padding-top: 20px;

      h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &.stage {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .35);

    &:before {
      content: "";
      display: table;
      box-sizing: border-box;
      width: 0;
      min-height: 688px;
    }

    .cs-background-overlay {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: 0.25s;
        opacity: 1;
        background-color: rgba(0, 0, 0, .35);
      }

      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        min-width: inherit;
      }
    }

    .cs-overlay-link {
      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .post-content-container {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      background: inherit;
      flex: 1;
      justify-content: flex-end;
      padding: 64px 0;
      color: $white-color;

      .slug-wrapper {
        position: relative;
        height: 40px;

        .cs-category-slug {
          left: 0;
        }
      }

      .post-title h2 {
        font-size: 44px;
        margin-bottom: 12px;
        color: $white-color;
        @media (max-width: 1024px) {
          font-size: 24px;
        }
      }

      .post-content {
        font-size: 24px;
        color: #E0E0E0;
        line-height: 27px;
        @media (max-width: 1024px) {
          font-size: 20px;
          line-height: 1.15;
        }
      }

      .post-meta {
        color: $white-color;

        & > *:not(:first-child):before {
          background-color: $white-color;
        }
      }
    }
  }
}

.post-content-container {
  position: relative;
}

.teaser-background-image {
  overflow: hidden;
  width: auto;
  max-width: 100%;

  .post-container {
/*    margin: 0 15px;*/
    position: relative;
    transition: 0.3s all ease-in-out;
    bottom: 0;
    overflow: hidden;

    &:hover  {
      .img-link:before {
        content: none;
      }
      .img-link:after {
        background: $white-color !important;
        opacity: 1;
      }
      .post-content-container {
        color: $brand-dark;

        h2, .post-meta {
          color: $brand-dark;

          > *:not(:first-child):before {
            background-color: $brand-dark;
          }
        }
        .post-content {
          color: $light-grey;
        }
      }
    }

    .post-content-container {
      position: absolute;
      width: auto;
      display: block;
      padding: 20px 24px;
      color: #fff;
      z-index: 2;
      box-sizing: border-box;
      bottom: 30px;
      left: 0;
      @media (max-width: 1280px) and (min-width: 768px){
        bottom: 0;
      }

      h2 {
        color: $white-color;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .post-content {
        padding-bottom: 16px;
      }

      .post-meta {
        font-size: 11px;
        margin-bottom: 0;
        font-weight: 700;
        color: $white-color;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        > * {
          display: flex;
          align-items: center;
        }

        > *:not(:first-child):before {
          content: "";
          width: 1rem;
          height: 1px;
          margin: 0 0.5rem;
          background-color: $white-color;
          transition: 0.25s;
        }

        i {
          margin-right: 4px;
        }
      }
    }
  }

  img {
    transition: all 0.3s ease-in-out;
  }
  .img-link:after {
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0) 0, rgba(16, 15, 15, 0.91) 89%, rgba(16, 15, 15, 0.93) 93%) !important;
    transition: .2s all ease-in-out;
    opacity: .85;
  }

  .img-link:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.object-fit {
  &--top {
    article .cs-background-overlay img {
      object-position: top;
    }
  }
  &--bottom {
    article .cs-background-overlay img {
      object-position: bottom;
    }
  }
}
