
.cs-timeline {
  .cs-timeline-box-left i {
    padding-right: 9px;
    position: relative;
    bottom: -3px;
    font-size: 24px;
    line-height: 0;
  }
  .cs-timeline-box-right i {
    line-height: 0;
  }
}

.cs-timeline {
  position: relative;
  cursor: default;
  .cs-timeline-item {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    &:first-child > div {
      margin-top: 0 !important;
    }
  }
  h2 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .cs-timeline-item {
    &:last-child {
      margin-bottom: 30px;
    }
    > div {
      float: left;
      width: 50%;
      position: relative;
      padding-right: 45px;
      padding-left: 0;
      text-align: right;
      min-height: 60px;
    }
  }
  > .cs-timeline-item:nth-child(2n+0) > div {
    float: right;
    padding-right: 0;
    padding-left: 45px;
    text-align: left;
  }
  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 5px;
    height: 100%;
    margin-left: -1.5px;
    background: rgba(172, 172, 172, 0.4);
    z-index: 0;
    border-radius: 5px;
  }
  &::after {
    clear: both;
    content: "";
    display: block;
  }
  .cs-timeline-box {
    padding: 8px 5px 8px 5px;
    display: table;
    position: relative;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: -12px;
    box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.12);
  }
  > div:nth-child(2n+0) .cs-timeline-box {
    margin-left: -12px;
    margin-right: 0;
    padding-left: 0px;
  }
  .cs-timeline-box-left {
    display: none !important;
  }
  > div:nth-child(2n+0) {
    .cs-timeline-box-right {
      display: none !important;
    }
    .cs-timeline-box-left {
      display: table !important;
    }
  }
  .cs-timeline-box p {
    margin-bottom: 0;
  }
  .cs-timeline-box-circle {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 16px;
    left: auto;
    right: 0;
    border: 4px solid $white-color;
    border-radius: 100%;
    margin-right: -46px;
    margin-top: 12px;
    background-color: $brand-primary;
    z-index: 10;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.18);
  }
  > div:nth-child(2n+0) .cs-timeline-box-circle {
    left: 0;
    right: auto;
    margin-left: -42px;
    margin-right: 0;
  }
  .cs-timeline-box-tale {
    content: "";
    position: absolute;
    top: 48px;
    right: -12px;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 6px solid black;
    border-color: transparent transparent $white-color $white-color;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    box-shadow: -4px 3px 10px 0 rgba(0, 0, 0, 0.09);
  }
  > div:nth-child(2n+0) .cs-timeline-box-tale {
    left: 0px;
    right: auto;
    top: 30px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: -4px 2px 9px 0 rgba(0, 0, 0, 0.08);
  }
  .cs-timeline-date {
    position: absolute;
    width: 100%;
    top: 27px;

    .post-meta {
      background: transparent;
      color: $white-color;
      position: relative;
      padding-right: 10px;
      padding-left: 0;
      padding-bottom: 10px;
      display: inline-flex;
      align-items: center;

      li {
        position: relative;
        display: block;
        float: left;
      }

      .post-meta-date {
        padding-right: 14px;
        .start-date {
          margin: 0;
          padding: 0;
          font-size: 17px;
          font-weight: $font__weight--bold;
          transition: 0.2s;
          color: $brand-primary;
          white-space: nowrap;
        }
        .start-day {
          font-size: 12px;
          font-weight: $font__weight--bold;
          line-height: normal;
          display: block;
          transition: 0.2s;
          color: $brand-primary;
          text-transform: uppercase;
        }
        &:after {
          content: '';
          display: block;
          width: 2px;
          height: 27px;
          background: $brand-primary;
          right: 0;
          bottom: 0;
          top: 6px;
          margin: auto;
          position: absolute;
        }
      }
      .hour {
        border-radius: 25px;
        border: 2px solid $brand-primary;
        color: $brand-primary;
        display: inline-block;
        font-size: 15px;
        font-weight: 600;
        line-height: normal;
        padding: 5px 10px;
        margin-left: 10px;
        text-align: center;
        vertical-align: top;
        white-space: nowrap;
        &:after {
          content: "\e081";
          font-family: 'Simple-Line-Icons';
          font-display: swap;
          speak: none;
          font-style: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          position: absolute;
          right: -7px;
          font-weight: $font__weight--bold;
          font-size: 17px;
          top: -7px;
          background-color: $white-color;
        }
      }
    }

  }
  .cs-timeline-box-right .cs-timeline-date {
    text-align: left;
    right: calc(-100% - 66px);
  }
  .cs-timeline-box-left .cs-timeline-date {
    text-align: right;
    left: calc(-100% - 66px);
  }
  .cs-timeline-image {
    width: 120px;
    position: relative;
  }
  .cs-timeline-image-container {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 0;

    .cs-ratio {
      border-radius: 100px;
      overflow: hidden;
      z-index: 0;
      border: 3px solid $brand-primary;
    }
  }

  .cs-timeline-box-right .cs-timeline-image-container {
    left: -65px;
  }
  .cs-timeline-box-left .cs-timeline-image-container {
    right: -65px;
  }
  .cs-timeline-box-left .cs-timeline-content-container {
    padding: 20px 60px 20px 25px;
  }
  .cs-timeline-box-right .cs-timeline-content-container {
    padding: 20px 20px 20px 60px;
  }
  .cs-timeline-content-full {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .cs-timeline {
    .cs-timeline-item .cs-timeline-item-container {
      float: left !important;
      margin-top: 30px;
      width: 100%;
      text-align: left !important;
      padding-left: 45px !important;
      padding-right: 0 !important;
    }
    &:before {
      left: 0;
    }
    .cs-timeline-item {
      margin-top: 27px;
      .cs-timeline-box {
        margin-left: -10px;
        margin-right: 0;
        margin-bottom: 10px;
      }
      .cs-timeline-box-tale {
        left: 0;
        right: auto;
        top: 31px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        box-shadow: -4px 2px 9px 0 rgba(0, 0, 0, 0.08);
      }
      .cs-timeline-box-circle {
        left: 0;
        right: auto;
        margin-left: -44px;
        margin-right: 0;
      }
    }
    .cs-timeline-date {
      text-align: left !important;
      padding-left: 25px;
      position: initial;
    }
    > div {
      .cs-timeline-image::before {
        left: 0 !important;
      }
      &:nth-child(2n+0) .cs-timeline-image::before {
        left: 5px !important;
      }
      .cs-timeline-box-right {
        display: none !important;
      }
      .cs-timeline-box-left {
        display: table !important;
      }
    }
  }
}

@media (max-width: 550px) {
  .cs-timeline {
    .cs-table-cell {
      display: block !important;
      width: 100%;
    }
    .cs-timeline-image-container {
      right: 6px !important;
      top: 15px;
      width: 75px;
      height: 75px;
    }
  }
}
