.cs-titlebar {
  background-repeat: no-repeat;
  background-position: 50% -220px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed !important;
  background-color: $white-color;
  background-image: url(../../src/images/background/bg-breadcrumb.jpg);
  text-align: center;
  position: fixed;
  min-width: 100%;
  z-index: 1;

  @media (max-width: 1024px) {
    background-attachment: scroll !important;
    background-position: inherit;
  }
  
  &:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
  }

  .container {
    padding: 0 15px;

    .cs-table {
      min-height: 60px;
      z-index: 100;
      position: relative;
      padding: 155px 0 80px 0;
      
      .titlebar-title {
        margin-bottom: 10px;
        h1,
        h2 {
          font-size: 24px;
          margin-bottom: 0;
          font-weight: bold;
        }
        .titlebar-title-h1 {
          font-size: 36px;
          margin-bottom: 10px;
          color: $white-color;
          font-weight: $font__weight--bold;
        }
      }

      .post-meta-date {
        display: inline-block;
        background-color: $brand-primary;
        color: $white-color;
        font-weight: $font__weight--bold;
        font-size: 13px;
        padding: 0 15px;
        line-height: 30px;
        min-height: 0;
        min-width: 0;
        z-index: 2;
        cursor: default;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
      }

      .title-level {
        text-align: center;
        margin-top: 15px;

        @media (max-width: 600px) {
          display: none;
        }

        .breadcrumb {
          background: transparent;
          padding: 2px 5px;
          font-size: 14px;
          color: $white-color;
          max-width: 100%;
          word-wrap: break-word;
          border-radius: 0;

          .seperator {
            font-size: 0;
            &:after {
              display: inline-block;
              font-family: 'simple-line-icons' !important;
              font-display: swap;
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              content: "\e606";
              font-size: 10px;
              padding: 0 10px;
            }
          }

          span a {
            color: $white-color;
            font-style: italic;
            font-size: 16px;
            opacity: .8;
            margin-top: 16px;

            &.current-page {
              font-weight: $font__weight--bold;
              cursor: default;
            }
          }
        }
      }
    }
  }
}




