.trainingstats {
  .trainingStats-menu-bar {
    margin-bottom: 50px;

    .cs-button {
      font-weight: $font__weight--medium;
      font-size: 40px;
      color: $white-color;
      border-bottom: 1px solid $white-color;
      cursor: pointer;
      padding-bottom: 10px;
      padding-left: 100px;
      padding-right: 100px;

      @media (max-width: 991px) {
        font-size: 20px;
        padding-left: 0;
        padding-right: 0;
      }

      i {
        vertical-align: middle;
        font-size: 65px;
        @media (max-width: 991px) {
          font-size: 40px;
        }
        &.up {
          display: none;
        }
        &.bounce {
          animation-name: bounce;
          transform-origin: center bottom;
          animation: bounce 5s infinite;
        }
      }

    }

    &.open {
      .dropdown-backdrop {
        position: static;
      }

      i.down {
        display: none;
      }
      i.up {
        display: inline-block;
      }
    }

    .dropdown-menu {
      position: static;
      float: none;
      background-color: transparent;
      box-shadow: none;
      border: none;
      li {
        text-align: center;
        a {
          color: $white-color;
          display: none;
          line-height: 35px;
          font-size: 18px;
          padding: 6px 16px;

          &.active, &:hover, &:focus {
            background-color: transparent;
            color: $white-color;
            border-radius: 0;
            font-weight: $font__weight--bold;
          }
          &.active {
            font-weight: normal;
          }
          &:not(.active) {
            display: block;
          }
        }
      }
    }
  }
}

@-webkit-keyframes bounce {
  20%,
  53%,
  80%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
    animation-timing-function: cubic-bezier(.755, .050, .855, .060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0)
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
    animation-timing-function: cubic-bezier(.755, .050, .855, .060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0)
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0)
  }
}

@keyframes bounce {
  20%,
  53%,
  80%,
  from,
  to {
    transform: translate3d(0, 0, 0)
  }
  40%,
  43% {
    transform: translate3d(0, -15px, 0)
  }
  70% {
    transform: translate3d(0, -8px, 0)
  }
  90% {
    transform: translate3d(0, -2px, 0)
  }
}
