a {
  color: $brand-primary;
  text-decoration: none;
  word-wrap: break-word;
  &:hover, &:focus {
    color: $brand-light;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $body-font-family;
  color: $brand-dark;
  font-weight: $font__weight--bold;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: normal !important;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
  line-height: normal !important;
}

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin: 0;
}

h2 {
  font-size: 20px;
}

.cs-team-role, .cs-iconbox-title, .cs-iconbox-content, .cs-text-with-frame * {
  word-wrap: break-word;
}

/* Typography - Sizes */

.size-xs {
  font-size: 14px;
}

.size-s {
  font-size: 16px;
}

.size-m {
  font-size: 20px;
}

.size-l {
  font-size: 30px;
}

.size-xl {
  font-size: 36px;
}

.size-xxl {
  font-size: 48px;
}

.size-xxxl {
  font-size: 60px;
}

.size-xxxxl {
  font-size: 72px;
}

@media (max-width: 1024px) {
  .size-l {
    font-size: 20px;
  }
  .size-xl {
    font-size: 26px;
  }
  .size-xxl {
    font-size: 30px;
  }
  .size-xxxl {
    font-size: 36px;
  }
  .size-xxxxl {
    font-size: 40px;
  }
}

.cs-text-background {
  background-color: $brand-light;
  color: $white-color;
  display: inline-block !important;
  padding: 0 11px;
  border-radius: 8px;
}

.cs-text-background-white {
  background-color: $white-color;
  color: $medium-grey;
  display: inline-block !important;
  padding: 0 11px;
  border-radius: 8px;
}

blockquote {
  padding: 25px;
  font-size: 96px;
  margin-left: 45px;
  position: relative;
  line-height: 180%;
  font-style: italic;
  text-align: center;
  font-weight: $font__weight--bold;
  border-left: 0;
  margin-bottom: 0;

  &:before {
    font: normal normal normal 14px/1 FontAwesome;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f10d";
    font-size: 90px;
    line-height: 1;
    position: absolute;
    top: 13px;
    left: -20px;
    color: $border-color-light-3;
    z-index: 0;
  }

  p {
    position: relative;
    font-size: 30px;
    letter-spacing: inherit;
    text-transform: inherit;
    color: inherit;
    font-weight: 700;
    z-index: 1;
  }

  &.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
  }

  &.right {
    margin-left: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
  }
}



