/***** colors ****/
$brand-primary: #018aca;
$brand-light: #71B7E1;
$brand-ultra-light: #CFE8F5;
$brand-dark: #000;
$light-grey: #717275;
$dark-grey: #3f3f3f;
$medium-grey: #505050;
$menu-color: #000;
$white-color: #fff;
$border-color-light: #e3e3e3;
$border-color-light-2: #e5e5e5;
$border-color-light-3: #e8e8e8;


$border-solid-1: 1px solid $border-color-light;


// TYPOGRAPHY
// --------------------------
$font__weight--light: 100;
$font__weight--medium: 400;
$font__weight--bold: 700;


// This is the the base for the em/rem mixins and the grid calculation.
$em-base: 16px;
$body-font-family: "Plus Jakarta Sans", sans-serif;
