.cs-video-player {
  /*  display: table;
    overflow: hidden;
    width: 100%;*/

  .cs-video-player-container {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  }

  .cs-video-player-content {
    position: relative;

    .video-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;

      &:after {
        top: 15% !important;
        background: linear-gradient(to bottom, rgba(50, 50, 50, 0) 0, rgba(16, 15, 15, 0.91) 89%, rgba(16, 15, 15, 0.93) 93%) !important;
        transition: .2s all ease-in-out;
        opacity: .93;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }

    }
    .video-headline {
      position: absolute;
      width: auto;
      display: block;
      padding: 20px 24px;
      color: $white-color;
      z-index: 2;
      box-sizing: border-box;
      bottom: 30px;
      left: 0;

      h2 {
        color: $white-color;
        margin-bottom: 10px;
      }

      span {
        background-color: $brand-primary;
        color: $white-color;
        font-weight: 700;
        position: absolute;
        font-size: 13px;
        padding: 0 15px;
        line-height: 30px;
        min-height: 0;
        min-width: 0;
        z-index: 2;
        cursor: default;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
        -webkit-transform: skew(-10deg);
        -ms-transform: skew(-10deg);
        transform: skew(-10deg);
      }
    }
  }
}

