
.cs-recent-posts-widgets-item {
  padding-bottom: 15px;
  margin-bottom: 25px;
  position: relative;
  border-bottom: 1px solid $border-color-light;

  &:last-child {
    margin-bottom: 0;
    border-bottom-width: 0px;
  }
}

.cs-recent-posts-widgets-item-content {
  padding-left: 80px;
  min-height: 55px;
}

.cs-recent-posts-widgets-item-thumb {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 0;
  top: 0;
}

.cs-recent-posts-widgets-count {
  background-color: $brand-primary;
  padding: 2px 6px;
  line-height: 1;
  font-weight: bold;
  border-radius: 20px;
  position: absolute;
  top: -7px;
  right: -7px;
  font-size: 13px;
  z-index: 500;
  color: $white-color !important;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.cs-recent-posts-widgets-item h4 {
  padding-top: 5px;
  margin-bottom: 8px;
  font-size: 16px;
  color: $white-color;

  &:hover {
    color: $brand-primary;
  }
}

.cs-recent-posts-widgets-item-meta {
  font-size: 12px;

  i {
    position: relative;
    bottom: -3px;
    padding-right: 5px;
    font-size: 16px;
  }
}

.cs-mini-overlay-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(1, 138, 202, 0.75);
  text-align: center;
  opacity: 0;
}

.cs-mini-overlay {
  i {
    line-height: 1px;
    font-size: 24px;
    color: #fff !important;
    display: block;
  }

  .cs-mini-overlay-container:hover {
    opacity: 1;
  }
}

/*Contact Widget*/

.cs-contacts-widget-item {
  margin-bottom: 15px;
  padding-left: 28px;
  position: relative;
  color: $brand-dark;

  i {
    display: block;
    padding-top: 4px;
    position: absolute;
    left: 0;
    font-size: 18px;
    width: 18px;
    line-height: 14px;
  }
}

/*Image Widget*/
.cs-image-widgets img {
  margin-bottom: 0;
  padding-bottom: 15px;
}

.cs-image-widgets-description {
  a {
    margin-right: 25px;
  }

  i {
    font-size: 18px;
  }
}

/*Text With Frame Widget*/
.cs-text-with-frame {
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &.opacity-10::before {
    background-color: rgba(0, 0, 0, .1);
  }

  &.opacity-20::before {
    background-color: rgba(0, 0, 0, .2);
  }

  &.opacity-30::before {
    background-color: rgba(0, 0, 0, .4);
  }

  &.opacity-40::before {
    background-color: rgba(0, 0, 0, .4);
  }

  &.opacity-50::before {
    background-color: rgba(0, 0, 0, .5);
  }

  &.opacity-60::before {
    background-color: rgba(0, 0, 0, .6);
  }

  &.opacity-70::before {
    background-color: rgba(0, 0, 0, .7);
  }

  &.opacity-80::before {
    background-color: rgba(0, 0, 0, .8);
  }

  &.opacity-90::before {
    background-color: rgba(0, 0, 0, .9);
  }

  &.opacity-100::before {
    background-color: rgba(0, 0, 0, 1);
  }

  .cs-text-with-frame-container {
    position: absolute;
    display: table;
    border: 1px solid rgba(255, 255, 255, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 60px);
    padding: 30px;

    span {
      color: $white-color;

      &.small-text {
        font-size: 22px;
        margin-bottom: 0;
      }

      &.big-text {
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

.cs-text-with-frame * {
  word-wrap: break-word;
  line-height: 1 !important;
  margin-bottom: 0;
}

/**Contact Form Widget Fix **/
.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field {
  display: block;
  margin-bottom: 1em;
  zoom: 1;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field:before {
  content: '';
  display: block;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field:after {
  content: '';
  display: table;
  clear: both;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field > label {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field > label strong {
  font-size: 15px;
  color: #505050;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field > label.sow-form-field-label-left {
  float: left;
  margin-right: 10px;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field > label.sow-form-field-label-right {
  float: right;
  margin-left: 10px;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field .sow-field-container {
  overflow: hidden;
  display: block;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field .sow-field-container textarea:focus,
.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field .sow-field-container input:focus,
.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field .sow-field-container > :focus {
  outline-style: solid;
  outline-color: #018aca;
  outline-width: 1px;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field textarea,
.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field .sow-text-field {
  display: block;
  width: 100%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0px;

  border: 1px solid #e3e3e3;

  color: #8d8d8d;
  font-size: 14px;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field.sow-form-field-checkboxes ul,
.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field.sow-form-field-radio ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field.sow-form-field-checkboxes ul li,
.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field.sow-form-field-radio ul li {
  margin: 0;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field.sow-form-field-checkboxes ul label,
.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field.sow-form-field-radio ul label {
  margin-bottom: 0;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field.sow-form-field-checkboxes ul input,
.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field.sow-form-field-radio ul input {
  float: left;
  margin: 0.4em 0.5em 0 0;
  height: auto;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-form-field .sow-form-field-description {
  font-size: 0.9em;
  margin-top: 0.2em;
  margin-left: 0.2em;
  color: #999999;
  font-style: italic;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-recaptcha {
  margin-bottom: 1em;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-contact-form {
  padding: 10px;
  border: #c0c0c0 none 1px;

}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-contact-form .sow-error {
  background: #fce4e5;
  border: 1px solid #ec666a;
  color: #ec666a;
  border-radius: 2px;
  padding: 5px;
  font-size: 0.8em;
  list-style: none;
  margin: 0 0 10px 0;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-contact-form .sow-error li {
  margin: 0;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-contact-form .sow-submit-styled {
  text-align: left;
}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-contact-form .sow-submit-styled .sow-submit {
  color: #ffffff;
  background: #018aca;
  border: 1px none #989a9c;
  border-radius: 0px;
  font-weight: bold;

  padding: 10px 20px;
  display: inline-block;

}

.so-widget-sow-contact-form-default-3d3e74dc2708 .sow-contact-form .sow-submit-styled .sow-submit:disabled {
  color: #ffffff;
  background: #33bdfe;
  border: 1px none #cccdce;
}

/**Image Points **/
.cs-image-points {
  position: relative;
  display: table;
  margin: 0 auto;
}

.cs-image-point {
  width: 28px;
  height: 28px;
  line-height: 23px;
  border: 4px solid $white-color;
  background-color: $brand-primary;
  border-radius: 100%;
  position: absolute;
  margin-top: -9px;
  margin-left: -9px;
  cursor: pointer;
  z-index: 5;
  transition: 0.3s all ease-in-out;
  opacity: 1;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 12px;
  color: $white-color;

  &:hover {
    line-height: 27px;
    width: 32px;
    height: 32px;
    margin-left: -11px;
    margin-top: -11px;
    background-color: $brand-light;
    z-index: 10;
  }

  .clickTrigger {
    cursor: pointer;
    height: 20px;
    width: 20px;
  }

  input:checked ~ .cs-image-point-tooltip {
    visibility: visible;
    opacity: 1;
  }

  .ti-plus:before {
    content: '';
  }

  h4 {
    margin-bottom: 10px;
  }
}

.cs-image-point-tooltip {
  position: absolute;
  z-index: 200;
  left: 30px;
  margin-bottom: 5px;
  padding: 10px 15px;
  width: 250px;
  background-color: $white-color;
  border-left: 0 solid $white-color;
  content: attr(data-tooltip);
  font-size: 16px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  color: $light-grey;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transform: translate3d(0, 0, 0);

  a {
    clear: left;
    float: left;
  }
}

.cs-image-point-right {
  .cs-image-point-tooltip {
    left: -265px;
    border-left-width: 0;
    border-right-width: 0;
  }
}

@media (max-width: 800px) {
  .cs-image-point-right {
    .cs-image-point-tooltip {
      left: -185px;
      border-left-width: 0;
      border-right-width: 0;
    }
  }
}

.n2-ss-slider-1 {
  .n2-ss-slider-2.n2-ow {
    height: 100vh !important;
  }

  .background-overlay {
    width: 100%!important;
    height: 100%!important;
    position: absolute!important;
    left: 0!important;
    top: 0!important;
    background: rgba(0,0,0,0.2);
  }

  .nextend-arrow {
    top: calc(50% - 35px) !important;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
  }

  .scroll-to-content {
    background: url(../../src/images/slider/mouse_down.svg) no-repeat center center;
    position: absolute !important;
    bottom: 50px !important;
    left: calc(50% - 35px) !important;
    height: 70px !important;
    width: 70px !important;
    cursor: pointer;
    z-index: 2000;
    opacity: 1;
    top: unset !important;
  }
}


/*----------------------------------------------
--Fade ins
-----------------------------------------------  */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*----------------------------------------------
--Fade out for slider
-----------------------------------------------  */
@-webkit-keyframes fade-out {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}

@-moz-keyframes fade-out {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}

@keyframes fade-out {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}

.pk-widget-about, .pk-block-about {
  text-align: left;

  .pk-about-button {
    background: $brand-dark;
    border-radius: 1px;
    color: $white-color;
    cursor: pointer;
    padding: 20px 32px;
    line-height: 1;
    width: 100%;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 12px auto 0;

    &:hover {
      text-decoration: underline;
    }
  }
}


